.page-header {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: var(--bg-primary);
}

.page-header h1 {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}