.card {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid #dddddd;
  border-radius: 8px;
  position: relative;
  margin: 1rem 0;
}

.card .project-name {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333333ce;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.container-buttons-tasks button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #FFF;
  font-weight: bolder;
  cursor: pointer;
}

.container-buttons-tasks .delete-button {
  background: #ec4e4e;
}

.container-buttons-tasks .complete-button {
  background: var(--bg-button-primary);
}

.container-buttons-tasks .update-button {
  background: #4e8dec;
}